// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";


ymaps[class$="-copyright"] {
	display: none;
}

@import "components/header";

@import "components/workarea";

.layout{
  	flex: 1 0 auto;
  	padding-top: 50px;
}

.btn{
   display: inline-block;
    font-size: 20px;
    background: #FF0000;
    color: #fff;
    padding: 10px 25px;
    border: 0;
    transition: all 0.3s ease;
    &:hover{
    	background: #330000;
    }
    &:active{
    	    background: #330000;
    }
}

.t-center{
	text-align: center;
}

.container-fluid{
	max-width: 1060px;
	position: relative;
	width: 100%;
}

.page-title{
	h1{
		margin: 0;
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 50px;
		line-height: 1.1;
	}
}

.page-content{
	padding-bottom: 64px;
}

.page-content,
.page-title,
.breadcrumbs,
.cookies{
	>.container-fluid{
    	transform: translateX(-59px);
	}
}

.events-top{
	.container-fluid{
    	transform: translateX(-59px);
	}
}

.page-search{
	.container-fluid{
    	transform: translateX(-59px);
    	padding: 0 20px 0 5px;
	}
}

.dnone{
	display: none;
}

.breadcrumbs{
	margin-bottom: 47px;
	font-size: 12px;
}
.breadcrumbs__wrap{
	display: flex;
	flex-wrap:wrap;
}
.breadcrumbs__item{
	color: #999999;
}

a.breadcrumbs__item{
	color: #000;
	&:hover{
		color: $alt-color;
	}
	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 1px;
		background: $alt-color; 
		margin: 0 8px;
	}
}

.img-item{
	margin-bottom: 16px;
	img{
		max-width: 100%;
		display: block;
	}
	&+.caption{
		    margin-bottom: 37px;
	}
}
.caption{
	font-size: 12px;
	margin-bottom: 30px;
}

.table-wrap {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 39px;
    table{
    	margin-bottom: 0!important;
    }
}

.table-wrap::-webkit-scrollbar {
    height: 8px;
}
 
.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5A5A5A;
}

.txt-item {
    margin-bottom: 30px;
}

.video-item{
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
	img{
		max-width: 100%;
		display: block;
	}
	
	&+.caption{
		    margin-bottom: 37px;
	}
}

.video-link{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	display: inline-block;
	width: 80px;
	height: 80px; 
	background: #FF0000 url(../img/svg/play.svg) center no-repeat;
	transition: background 0.3s ease;
	&:hover{
		background: #000 url(../img/svg/play.svg) center no-repeat;
	}
}

.page-form{
	margin-bottom: 30px;
	border: 8px solid rgba(153,153,153,0.2);
	    padding: 31px 49px 48px 49px;
}	

.input-wrap{
	margin-bottom: 24px;
	&:last-child{
		margin-bottom: 0;
	}
}
.input-wrap--necessary{
	.input-label{
		&:after{
			content: "*";
			color: $alt-color;
			padding-left: 3px;
		}
	}
}

.input-label{
	font-size: 12px;
	margin-bottom: 7px;
}

.input-wrap--error{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		border: 1px solid $alt-color!important;
	}
}

.error-message{
	color: $alt-color;
	padding-top: 8px;
	font-size: 12px;
}

.page-form__btn{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
}



.jq-selectbox{
	width: 100%;
	&.opened{
		.jq-selectbox__select{
			border:1px solid #fff;
    		border-bottom: 1px solid #D4D4D4;
		}
		.jq-selectbox__trigger-arrow{
			transform: rotate(180deg);
		}
	}
	&:hover{
		.jq-selectbox__select{
			border: 1px solid #999;
		}
	}
}


.jq-selectbox.focused .jq-selectbox__select {
    border:1px solid #fff;
    border-bottom: 1px solid #D4D4D4;
}
.jq-selectbox__trigger-arrow {
    top: 19px;
    right: 15px;
    border-top: 5px solid #000;
}

.jq-selectbox__select {
	    height: 43px;
    padding: 0 35px 0px 15px;

    font-size: 16px;
    border:1px solid #fff;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 0;
    background: #fff !important;
    box-shadow: none;
    font-family: "Montserrat", Arial, sans-serif;
    color: #022835;
    text-shadow: none;
    font-weight: 500;
}

.jq-selectbox .placeholder{
	color: #000;
}

.jq-selectbox__trigger{
	border-left: 0;
}

// .jq-selectbox__trigger-arrow {
//     border: 0;
//     width: 14px;
//     height: 8px;
//     background: url(../img/svg/faq_select_arrow.svg) center no-repeat;
//     background-size: cover;
//     position: absolute;
//     right: 0;
//     top: 17px;
//     transition: all 0.3s ease;
// }

.jq-selectbox__select-text{
	height: 100%;
	padding-top: 5px;
}

.jq-selectbox ul{
	margin-bottom: 0!important;
}

.jq-selectbox ul li{
	    padding: 17px 20px!important;
    font-size: 16px;
    margin-bottom: 0!important;
    position: relative;
    &:after{
    	content: "";
    	display: block;
    	background: #D8DFE8;
    	height: 1px;
    	width: calc(100% - 40px);
    	position: absolute;
    	bottom: 0;
    	left: 20px;
    }
    &.selected,
    &.sel{
    	background: transparent;
    	font-weight: 700;
    	color: #000;
    }
	&:before{
		display: none;
	}
}

.jq-selectbox__dropdown{
	top: 100% !important;
    bottom: auto !important;
    border: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    max-height: 300px;
    overflow-y: auto;
        box-shadow: none;
    border: 1px solid #999;
    margin-top: -1px;
    border-radius: 0;
}

.jq-selectbox li:hover {
    color: #000;
    background: rgba(153,153,153,0.1);
}

.checkbox-item,
.radio-item{
	margin-bottom: 18px;
}



.file-upload{
	position: relative;
	input[type="file"] {
	   	opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 100%;
	}
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    color: #FF0000;
    padding-left: 32px;
    position: relative;
    transition: color 0.3s ease;
    &:before{
    	content: "";
    	display: inline-block;
    	width: 16px;
    	height: 30px;
    	background: url(../img/svg/shape.svg) no-repeat;
    	background-size: contain;
    	position: absolute;
    	left: 5px;
    	top: 50%;
    	transform: translateY(-50%);
    }
    &:hover{
    	color: #CC0000;
    }
}

.file-upload-output__item{
	font-size: 16px;
    margin-bottom: 20px;
    word-break: break-word;
    padding-left: 32px;
    position: relative;
    &:before{
    	content: "";
    	display: inline-block;
    	width: 16px;
    	height: 30px;
    	background: url(../img/svg/shape.svg) no-repeat;
    	background-size: contain;
    	position: absolute;
    	left: 5px;
    	top: -5px;
    }
    // &:last-child{
    // 	margin-bottom: 20px;
    // }
    &:first-child{
    	margin-top: 20px;
    }
}

.file-upload-output__close{
	font-size: 12px;
    color: #999;
    padding-left: 23px;
    position: relative;
    display: block;
    margin: 15px 0 0;
    transition: color 0.3s ease;
    &:before{
    	content: "";
    	display: inline-block;
		width: 23px;
		height: 24px;
		background: url(../img/svg/file-close.svg) no-repeat;
		background-size: contain;
		vertical-align: middle;
		position: absolute;
		left: -4px;
		top: 50%;
		transform: translateY(-50%);
    }
    &:hover{
    	color: #CC0000;
    }
}

.download-item{
	margin-bottom: 30px;
	font-size: 20px;
	background: #fff;
	    padding: 10px 25px 10px 75px;
	position: relative;
	display: inline-block;
	&:before{
	    content: "";
	    display: inline-block;
	    width: 73px;
	    height: 80px;
	    background: url(../img/svg/file_icon.svg) no-repeat;
	    position: absolute;
	    left: 0px;
	    top: -18px;
	}
}


.paging{
	margin-bottom: 30px;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}

.paging__pages,
.paging__arrows{
	display: flex;
	flex-wrap:wrap;
	align-items:flex-end;
	font-size: 20px;
}

.paging__item{
    color: #000;
    margin-right: 17px;
    line-height: 1;
    position: relative;
    padding: 0 3px;
	&.active{
		font-size: 30px;
		line-height: 25px;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -8px;
			left: 0;
			background: #FF0000;
		}
	}
	&:last-child{
		margin-right: 0;
	}
}


a.paging__item{
	transition: color 0.3s ease;
	&:hover{
		color: #FF0000;
	}
}


.paging__prev,
.paging__next{
    color: #000;
    padding: 8px 30px;
    border: 1px solid #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    min-width: 188px;
    text-align: center;
	&:hover{
		background: #000;
		color: #fff;
	}
	&:active{
		background: #330000;
		color: #fff;
	}
}

.paging__prev{
	margin-right: -1px;
}


.accordeon{
	margin-bottom: 30px;
}

.accordeon__item{
	position: relative;
	
	margin-bottom: 8px;
	&.active{
		.accordeon__link{
			color: $alt-color;
			&:after{
				background: url(../img/svg/minus.svg) center no-repeat;	
				background-size: contain;
			}
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}

.accordeon__info{
	display: none;
        padding: 24px 32px 32px 32px;
    position: relative;
    margin-top: 2px;
    background: #fff;
    line-height: 1.45;
    //font-size: 17px;
    p{
    	margin-bottom: 28px;
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
}

.accordeon__link{
    display: block;
    padding: 22px 32px;
    transition: color 0.3s ease;
    color: #000;
    font-size: 20px;
    position: relative;
    background: #fff;
	&:after{
		content: "";
		width: 24px;
		height: 24px;
		background: url(../img/svg/plus.svg) center no-repeat;	
		background-size: contain;
		position: absolute;
		right: 32px;
    	top: 50%;
		transform: translateY(-50%);
		//transition:all 0.3s ease;
	}
	&:hover{
		color: $alt-color;
	}
}

.resp-tabs{
	margin-bottom: 30px;
}
.r-tabs-nav{
	display: flex;
}

.r-tabs-tab{
    
}

.r-tabs .r-tabs-tab{
	padding-left: 0;
	&:before{
		display: none;
	}
	&:last-child{
		.r-tabs-anchor{
			//border-right: 1px solid transparent;
		}
	}
}

.r-tabs-anchor{
	font-size: 20px;
    color: #000;
    background: rgba(153,153,153,0.2);
        padding: 22px 32px;
    display: block;
    transition: all 0.3s ease;
        
    &:hover{
    	color: #FF0000;
    }
}

.r-tabs-state-active{
	.r-tabs-anchor{
		background: #fff;
		color: #FF0000;
		   // border-right: 1px solid transparent;
	}
}


.r-tabs-state-default{
	&+.r-tabs-state-default{
		.r-tabs-anchor{
			border-left: 1px solid rgba(153,153,153,0.4);
		}
	}
}




.default-slider{
	display: none;
	margin-bottom: 30px;
	margin-top: 50px;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		width: 64px;
		height: 48px;
		position: absolute;
		top: -54px;
		//margin-top: -20px;
		text-indent: -9999em;
		padding: 0;
		z-index: 3;
		border: 1px solid #999;
		transition:all 0.3s ease;
	
		&.slick-disabled{
			opacity: 0.3;
			pointer-events:none;
		}
	}
	.slick-prev{
		right: 63px;
		background: transparent url(../img/svg/prev.svg) center no-repeat;
		&:hover{
			background: #000 url(../img/svg/prev-h.svg) center no-repeat;
		}
		&:active{
			background: #330000 url(../img/svg/prev-h.svg) center no-repeat;
		}
	}
	.slick-next{
		right: 0;
		background: transparent url(../img/svg/next.svg) center no-repeat;
		&:hover{
			background: #000 url(../img/svg/next-h.svg) center no-repeat;
		}
		&:active{
			background: #330000 url(../img/svg/next-h.svg) center no-repeat;
		}
	}
	.slick-list{
		margin: 0 -15px;
	}
}
.default-slider__item{
	padding: 0 15px;
}

.default-slider__img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 24px;
	height: 406px;
	position: relative;
	&:before,
	&:after{
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: #777;
	  -webkit-box-shadow: 0 15px 10px #777;
	  -moz-box-shadow: 0 15px 10px #777;
	  box-shadow: 0 15px 10px #777;
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}
	&:after{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}
}

.default-slider__title{
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.default-slider__position{
	margin-bottom: 13px;
	font-size: 12px
}
.default-slider__txt{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	line-height: 1.3;
}

.news-item{
	margin-bottom: 30px;
}

.news-date{
	font-size: 20px;
	padding-left: 46px;
	position: relative;
	margin-bottom: 49px;
	&:before{
		content: "";
		display: inline-block;
		width: 31px;
		height: 29px;
		background: url(../img/svg/calendar_icon.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}


.img-items{
	margin-bottom: 30px;
	display: flex;
	flex-wrap:wrap;
	margin-right: -30px;
	.img-item{
		margin-right: 30px;
		&:hover{
			.img-link{
				&:after{
					background: #000 url(../img/svg/zoom_icon.svg) center no-repeat;
				}
			}
	}
	}
}



.img-link{
	display: block;
	box-shadow: 0px 17px 24px -22px rgba(0, 0, 0, 0.5);
	position: relative;
	&:after{
		content: "";
		width: 40px;
		height: 40px;
		background: #FF0000 url(../img/svg/zoom_icon.svg) center no-repeat;
		border-radius: 50%;
		position: absolute;
		bottom: 10px;
		left: 10px;
		transition: background 0.3s ease;
	}
}


.fancybox-content{
	padding: 0;
}

.popup{
    max-width: 679px;
    border: 8px solid #DFDFDF;
    padding: 20px 15px 68px;
}

.popup--form{
	max-width: 914px;
	width: 914px;
	    padding: 33px 48px;
	background: #F2F2F2;
}

.fancybox-close-small{
	opacity: 1;
	width: 40px;
	height: 40px;
	background: #DFDFDF url(../img/svg/close.svg) center no-repeat;
	padding: 0;
	transition:background 0.3s ease;
	svg{
		display: none;
	}
	&:hover{
		background: #DFDFDF url(../img/svg/close-h.svg) center no-repeat;
	}
}
.fancybox-slide--html .fancybox-close-small{
	padding: 0;
}

.input-wrap--phone{
	max-width: 401px;
}


.education{
	margin-bottom: 40px;
}

.education__item{
	display: flex;
	margin-bottom: 24px;
	&:last-child{
		margin-bottom: 0;
	}
}


.education__year{
	font-size: 20px;
	width: 86px;
	min-width: 86px;
	color: $alt-color;
}


.education__title{
	font-size: 20px;
	margin-bottom: 8px;
	line-height: 1.2;
	&:last-child{
		margin-bottom: 0;
	}
}
.education__title--gr{
	color: #999999;
}

.education__add{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
}


.fancybox-container{
	z-index: 14;
}


.contacts-wrap{
	margin-bottom: 18px;
}

.contacts-item{
	margin-bottom: 30px;
}

.contacts-inner{
	width: 100%;
	background: #fff;
	padding: 16px;
	font-weight: 500;
	height: 100%;
}

.contacts-title{
	font-size: 20px;
    margin-bottom: 13px;
    line-height: 1.2;
    color: #000;
    transition:color 0.3s ease;
    &:hover{
    	color: $alt-color;
    }
}
.contacts-position{
	font-size: 12px;
	color: #999999;
	min-height: 4em;
}

.contacts-info{
border-top: 2px solid #F0F0F0;
    padding: 18px 16px 0;
    margin: 15px -16px 0;
}

.contacts-info__phone{
	display: block;
	color: #000;
	margin-bottom: 5px;
	span{
		font-size: 12px;
		color: #999999;
	}
	&:hover{
		    color: #FF0000;
	}
}


.contacts-info__mail{
	display: block;
	color: $alt-color;
	font-size: 12px;
	&:hover{
		color: #CC0000;
	}
}



.application{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 7;
	    display: flex;
    // align-items: center;
    //background: #000;
    transition:all 0.3s ease;
    &:active{
    	.application__txt{
    		background: #330000;
    	}
    	.application__icon{
    		background: #330000 url(../img/svg/app.svg) center no-repeat;
    	}
    }
    &:hover,
    &.active{
    	.application__txt{
    		transform: translateX(0);
    	}
    }
}
.application__icon{
	width: 121px;
	height: 75px;
	background: #000 url(../img/svg/app.svg) center no-repeat;
	transition:all 0.3s ease;
	z-index: 2;
}

.application__txt{
	color: #fff;
	width: 200px;
	    color: #fff;
    width: 205px;
    padding: 0 20px;
    background: #000;
        display: flex;
    align-items: center;
    transition:all 0.3s ease;
    z-index: 1;
    transform: translateX(-100%);
}


.map-wrap{
	position: relative;
	height: 419px;
	width: calc(100% - 354px);
	//display: flex;
}
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-info{
	position: absolute;
	left: 100%;
	top: 0;
	width: 354px;
	background: #fff;
	height: 100%;
	padding: 32px;
}

.map-title{
	font-size: 20px;
	margin-bottom: 27px;
	line-height: 1.2;
}

.map-phones{
	margin-bottom: 30px;
}

.map-phone{
	display: block;
	font-size: 16px;
	margin-bottom: 13px;
	color: #000;
	&:hover{
		color: #FF0000;
	}
	span{
		font-size: 12px;
		color: #999999;
	}
}
.map-mail{
	display: block;
	color: $alt-color;
	font-size: 16px;
	margin-bottom: 39px;
	&:hover{
		color: #CC0000;
	}
}

.layout--profile{
	.page-title > .container-fluid,
	.breadcrumbs > .container-fluid {
	    transform: none;
	}
}
.profile-item{
	margin-bottom: 40px;
	ul{
		font-size: 20px;
	}
}

.profile-img{
	position: relative;
}

.profile-img__item{
	position: absolute;
	left: 0;
	top: 0;
	    padding-right: 10px;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.profile-img__inner{
	display: inline-block;
	    box-shadow: 0px 17px 24px -22px rgba(0, 0, 0, 0.5);
}


.profile-links{
	display: flex;
	flex-wrap:wrap;
	margin-right: -30px;
}
.profile-link{
	padding-right: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content:center;
	align-items:center;
	// width: 33.333%;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.profile-inner{
	background: #fff;
	width: 100%;
	height: 100%;
}

.services-aside__inner{
	border: 1px solid #999;
	    padding: 24px 24px 15px; 
	width: 100%;
	margin-bottom: 30px;
}
.services-aside__link{
    display: block;
    margin-bottom: 18px;
    color: #000;
    border-bottom: 2px solid transparent;
    line-height: 1;
    padding-bottom: 4px;
	&:last-child{
		margin-bottom: 0!important;
	}
	&.active{
		border-bottom: 2px solid $alt-color;
		font-size: 20px;
		    margin-bottom: 28px;
	}
	&:hover{
		color: $alt-color;
	}
}

.offers{
	display: block;
	background: linear-gradient(166.02deg, rgba(9, 113, 179, 0) 0%, rgba(9, 113, 179, 0.6) 100%);
	box-shadow: 0px 17px 24px -22px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	line-height: 1.1;
	padding: 33px 62px;
	color: #000;
	transition:background 0.3s ease;
	span{
		position: relative;
		padding-right: 52px;
		display: inline-block;
		&:after{
			content: "";
			display: inline-block;
			width: 21px;
			height: 26px;
			background: url(../img/svg/arrow.svg) center no-repeat;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition:all 0.3s ease;
		}
	}
	&:hover{
		background: $alt-color;
		color: #fff;
		span{
			&:after{
				background: url(../img/svg/arrow-h.svg) center no-repeat;
				right: -10px;
			}
		}
	}
}
.services__link{
	font-size: 16px;
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0!important;
	}
	a{
		color: #fff;
		&:hover{
			color: $alt-color;
		}
	}
}

.services__list{
	column-count: 2;
	margin-bottom: 0!important;
}

.services__list .services__link{
	padding-left: 3px;
	line-height: 1.1;

	-moz-column-break-inside:    avoid;
	-webkit-column-break-inside: avoid;
	-o-column-break-inside:      avoid;
	-ms-column-break-inside:     avoid;
	break-inside:                avoid;
	&:before{
	    width: 4px;
	    top: 6px;
	    left: -10px;
	}
}

.services__item{
	margin-bottom: 32px;
	    box-shadow: 0px 17px 24px -22px rgba(0, 0, 0, 0.5);
	&:last-child{
		margin-bottom: 0;
	}
}

.services__inner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 24px 33px 27px 33px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(162.75deg, rgba(0, 0, 0, 0.55) 0%, #000000 100%);
	}
}

.services__top{
	color: #fff;
    font-size: 30px;
    position: relative;
    z-index: 2;
    padding-bottom: 19px;
    margin-bottom: 34px;
    border-bottom: 2px solid rgba(153, 153, 153, 0.1);
}

.items{
	margin-bottom: 37px;
}

.item{
	margin-bottom: 30px;
}
.item__inner{
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	transition: all 0.3s ease;
	position: relative;
	padding-bottom: 50px;
	&:hover{
		box-shadow: 0px 17px 24px -22px rgba(0, 0, 0, 0.5);
		.item__title{
			color: $alt-color;
		}
	}
}

.item__info{
	padding: 18px 16px 16px 16px;
}

.item__img{
	height: 324px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.item__title{
	font-size: 16px;
	margin-bottom: 9px;
	line-height: 1.2;
	transition: color 0.3s ease;
}
.item__place{
	font-size: 12px;
	color: #999999;
}


.item-add{
	display: flex;
	justify-content:space-between;
	align-items:flex-start;
	    padding: 0px 16px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.item-date{
	font-size: 12px;
    line-height: 1;
	span{
		display: block;
		color: $alt-color;
		font-size: 20px;
	}
}

.item-price{
	font-size: 20px;
	    margin-top: -5px;
}

.item-closed{
    color: #fff;
    background: #FF0000;
    padding: 2px 3px;
    font-size: 16px;
    line-height: 1;
    margin-top: 2px;
}

.articles{
	margin-bottom: 40px;
}

.article{
	margin-bottom: 30px;
}

.article__top{
    display: block;
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
	&:hover{
		color: $alt-color;
	}
}
.article__person{
	font-size: 12px;
	color: $alt-color;
}


.item__top{
	display: flex;
	justify-content:space-between;
	    margin-bottom: 7px;
	.item-date{
		text-align: right;
		width: 60px;
		color: #999999;
		    line-height: 1.2;
	}
	.item__title{
		padding-right: 15px;
		flex:1;
	}
}

.item-date__item{
	font-size: 12px!important;
	color: #999999!important;
}

.item__descr{
	color: #999999;
	font-size: 12px;
}

.item--templ{
	.item__inner{
		padding-bottom: 0;
	}
}

.item--news{
	.item__inner{
		padding-bottom: 0;
	}
	.item__title,
	.item__top{
		margin-bottom: 0;
	}
	.item__title{
		padding-right: 0;
	}
}

.event-title{
	margin-bottom: 41px;
	font-size: 20px;
	line-height: 1.2;
}


.events__item{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0;
	}
}
.events__item{

}




.other-slider{
	display: none;
	    margin-bottom: 0;
    margin-top: 81px;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		width: 64px;
		height: 48px;
		position: absolute;
		top: -54px;
		//margin-top: -20px;
		text-indent: -9999em;
		padding: 0;
		z-index: 3;
		border: 1px solid #999;
		transition:all 0.3s ease;
	
		&.slick-disabled{
			opacity: 0.3;
			pointer-events:none;
		}
	}
	.slick-prev{
		right: 63px;
		background: transparent url(../img/svg/prev.svg) center no-repeat;
		&:hover{
			background: #000 url(../img/svg/prev-h.svg) center no-repeat;
		}
		&:active{
			background: #330000 url(../img/svg/prev-h.svg) center no-repeat;
		}
	}
	.slick-next{
		right: 0;
		background: transparent url(../img/svg/next.svg) center no-repeat;
		&:hover{
			background: #000 url(../img/svg/next-h.svg) center no-repeat;
		}
		&:active{
			background: #330000 url(../img/svg/next-h.svg) center no-repeat;
		}
	}
	.slick-list{
		margin: 0 -15px;
		padding-bottom: 30px;
	}
	.slick-track{
	    display: flex !important;
	}

	.slick-slide{
	    height: inherit !important;
	}
}
.other-slider__item{
	padding: 0 15px;
}


.subscribe{
	.page-form{
		padding: 16px;
	}
	input[type="submit"]{
	    background: #000;
	    color: #fff;
	    padding: 7px 24px 8px;
	    margin-left: 8px;
	    &:hover{
	    	background: $alt-color; 
	    }
	}
	h3{
		    margin-bottom: 26px;
	}
}


.subscribe-wrap{
	position: relative;
	//padding-right: 190px;
	display: flex;
}

.subscribe__msg{
	font-size: 12px;
}

.events{
	.education__add {
	    line-height: 1.2;
	}
	.events__item{
		ul{
			li{
				margin-bottom: 23px;
				&:last-child{
					margin-bottom: 0;
				}
				&:before{
					    top: 9px;
				}
			}
		}

	}
	.education__title {
	    margin-bottom: 3px;
	}
	h3{
		    margin-bottom: 17px;
	}
}

.layout--event{
	padding-top: 0;
}
.events-top{
	position: relative;
	padding: 48px 0 55px;
	margin-bottom: 40px;
	color: #fff;
	.container-fluid {
	    position: relative;
	    z-index: 2;
	}
	.page-title{
		color: #fff;
		h1{
			font-size: 40px;
			line-height: 1.2;
		}
	}
	.breadcrumbs__item{
		color: rgba(255,255,255,0.4);
	}
	a.breadcrumbs__item {
	    color: #fff;
	    &:hover{
	    	color: $alt-color;
	    }
	}
}

.events-top__bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(162.78deg, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
		opacity: 0.6;
	}
}

.events-top__info{
	padding-top: 81px;
	display: flex;
	flex-wrap:wrap;
}
.events-top__item{
	width: 50%;
	display: flex;
	justify-content: space-between;
	&:first-child{
		padding-right: 30px;
	}
	&:last-child{
		padding-left: 76px;
	}
}


.events-top__date{
	white-space: nowrap;
	span{
		display: block;
		font-size: 20px;
		text-align: right;
		margin-bottom: 3px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.events-top__num{
	margin-bottom: 2px;
	font-size: 40px;
	line-height: 1;
	color: $alt-color;
}

.events-top__time{
	font-size: 20px;
	margin-left: 137px;
	span{
		display: block;
		font-size: 30px;
		margin-bottom: 5px;
	}
}

.events-top__cost{
	font-size: 20px;
	padding-top: 22px;
	span{
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
		color: rgba(255,255,255,0.4);
	}
}

.events-top__btn{
	padding-top: 30px;
	.btn {
	    padding: 12px 34px;
	}
}


.page-footer--index{
	.container-fluid{
		display: flex;
		justify-content: flex-end;
	}
	.company{
		width: 292px;
		min-width: 292px;
		margin-right: 32px;
		margin-bottom: 0;
		color: rgba(255,255,255,0.6);
	}
	.develop{
		color: rgba(255,255,255,0.6);
	}
}

.page-footer__wrap{
	display: flex;
	flex-wrap:wrap;
	width: 483px;
}

.page-footer__in{
	display: flex;
}

.develop{
    color: rgba(255,255,255,0.4);
}

.develop__link{
	color: rgba(255,255,255,0.4);
	&:hover{
		color: $alt-color;
	}	
}


.layout--index{
	display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding-top: 0;
    background: url(../img/content/index-bg.jpg);
    // background-image: url(../img/content/index-bg.png) center no-repeat;
    background-size: cover!important; 
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-color: #000!important;
    position: relative;
    color: #fff;
    transition: background 0.6s linear 0.8s;
    &:before{
    	content: "";
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	left: 0;
    	top: 0;
    	//background: linear-gradient(237.99deg, #141414 0%, #0F0F0F 100%);
    	background: rgba(0,0,0,0.2);
    }
    .page-footer{
    	background: transparent;
    	    padding: 30px 0 10px;
    }
    .copyright{
    	color: #fff;
    }
    .application__icon{
    	width: 100px;
    }
    .application__txt {
	    transform: translateX(0);
	    margin-left: -25px;
    	z-index: 2;
	}
	.menu-top{
		background: linear-gradient(0deg, #1d1d1d 0%, #1b1b1b 100%);
	}
	.menu-bottom{
		//background: linear-gradient(0deg, #222222 0%,#222222 50%, #1f1f1f 100%);
		//background: #1f1f1f;
		background: linear-gradient(180deg, #1e1e1e 0%, #222222 50%, #1f1f1f 72%);
	}
	
	.menu-socials{
		//background: transparent; 
		background: linear-gradient(0deg, #222222 0%, #202020 100%);
	}

	.page-header{
		background: transparent;
		.page-header__inner{
			background: linear-gradient(0deg, #202020 0%, #1c1c1c 100%);
		}
		&.active{
			.page-header__inner{
				background: #fff;
			}
		}
	}
	.page-header__inner:before{
		display: none;
	}
	.page-content {
	    padding-bottom: 0;
	    height: 100%;
	    >.container-fluid{
			padding-left: 40px;
			padding-right: 145px;
			max-width: 100%;
			transform: none;
			height: 100%;
	    }
	}
	.menu-lang{
		//background: transparent;
		background: linear-gradient(0deg, #202020 0%, #1f1f1f 100%);
	}
}

.wrapper{
	display: table-row;
    height: 100%;
}


.list{
	display: flex;
	flex-wrap:wrap;
	height: 100%;
	padding: 37px 0;
	    height: calc(100vh - 99px);
}

.list__item{
	width: 25%;
	height: 50%;
	padding: 0 2px 2px 0;
}

.list__link{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	//background: rgba(0,0,0,0.3);
	//padding: 72px 26px;
	
	position: relative;
	
	&:hover{
		.list__inner{

			background: rgba(255,0,0,0.8);
		}
	}
}

.list-slider--news{
	.list__inner{
		background: linear-gradient(139.42deg, rgba(9, 113, 179, 0) 0%, rgba(9, 113, 179, 0.6) 100%);
	}
}

.list-slider--events{
		background: url(../img/content/events-slider-bg.jpg) center no-repeat;
		background-size: cover;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			background: linear-gradient(139.42deg, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
			opacity: 0.8;
		}
	.list__inner{
		background: transparent;
		position: relative;
	}
}

.list-slider{
	height: 100%;
	display: none;
	&.slick-initialized{
		display: block;
	}
	.list__link{
		z-index: 2;
	}
	// .list-slider__item{
	// 	height: 100%;
	// }
	.slick-dots{
		margin-bottom: 0;
		display: flex;
		position: absolute;
		bottom: 10px;
		left: 24px;
		li{
			margin: 0 8px 0 0;
			padding: 0;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				display: none;
			}
			&.slick-active{
				button{
					opacity: 1;
				}
			}
			button{
				width: 8px;
				height: 8px;
				background: #FFFFFF;
				opacity: 0.4;
				border: 0;
				padding: 0;
				display: inline-block;
				transition:all 0.3s ease;
				border-radius: 50%;
				text-indent:-9999em;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
	.slick-list,
	.slick-track{
		height: 100%;
	}

	.list__inner {
	    padding: 24px 26px;
	}
}

.list-slider__top{
	// padding: 0 24px;
	display: flex;
	justify-content:space-between;
	position: relative;
	z-index: 2;
	align-items:center;
	    margin-bottom: 26px;
}

.list-slider__cat{
	color: #FFFFFF;
	opacity: 0.6;
	font-size: 16px;
	font-weight: 500;
	backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.list-slider__add{
    color: #fff;
    background: #000;
    padding: 5px 8px;
    font-weight: 500;
    line-height: 1;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}


.list__inner {
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
	padding: 72px 26px;
	transition: background 0.3s ease;
}

.list__title{
	//transform: perspective(-1px) translateZ(20px);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.list__date{
	color: #fff;
	font-size: 16px;
	text-align: right;
	line-height: 1;
	position: absolute;
	bottom: 23px;
    right: 28px;
    transform: translateZ(20px);
	span{
		display: block;
		font-size: 30px;
	}
}

.list__mobile-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	&:before{
		content: "";
		background: #000000;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

body.fixed{
	overflow: hidden;
}


.menu-list__bottom{
    position: fixed;
    bottom: 0;
	left: 0;
	background: #fff;
	width: 100%;
	padding: 15px;
	color: #000;
	display: flex;
	align-items:center;
	justify-content:space-between;
	display: none;
	&:before{
	    content: "";
	    display: block;
	    width: calc(100% - 40px);
	    height: 1px;
	    background: rgba(0, 0, 0, 0.2);
	    position: absolute;
	    left: 20px;
	    top: 50%;
	}
}

.menu-list-lang{
	display: flex;
	align-items:center;
	
	background: #fff;
	padding-right: 15px;
	position: relative;
	z-index: 2;
	
}
.menu-list-lang__link{
	margin-right: 16px;
	font-size: 14px;
	color: rgba(0,0,0,0.4);
	&:last-child{
		margin-right: 0;
	}
	&.active{
		color: #000;
		font-weight: 500;
	}
}

.menu-list-socials{
	display: flex;
	align-items:center;
	background: #fff;
	padding-left: 15px;
	position: relative;
	z-index: 2;
}

.menu-list-socials__link{
	display: inline-block;
	margin-right: 20px;
	&:last-child{
		margin-right: 0;
	}
}

.menu-list-socials__link--fb{
	width: 10px;
	height: 17px;
	background: url(../img/svg/fb-menu.svg) no-repeat;
}

.menu-list-socials__link--vk{
	width: 20px;
	height: 11px;
	background: url(../img/svg/vk-menu.svg) no-repeat;
}

.btn-reset{
	color: #000;
	border: 1px solid #000;
	padding: 9px 25px;
	display: inline-block;
	font-size: 20px;
	background: transparent; 
	transition:all 0.3s ease;
	&:hover{
		background: #000;
		color: #fff;
	}
	&:active{
		background: #330000;
		color: #fff;
	}
}


.cookies{
	position: fixed;
	width: 100%;
	background: #fff;
	bottom: 0;
	left: 0;
	border: 4px solid #DFDFDF;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 0 7px;
	z-index: 15;
}

.cookies__title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.cookies__close{
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	background: #DFDFDF url(../img/svg/close.svg) center no-repeat;
	display: block;
	transition:all 0.3s ease;
	z-index: 15;
	&:hover{
		opacity: 0.7;
	}
}

@import "components/footer";




@import "components/media";





