.page-header{
	width: 115px;
	height: 100%;
	min-height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: #000;
	color: #fff;
	z-index: 8;
	font-size: 16px;
	padding-bottom: 75px;
	&.active{
		.menu-list{
	    	left: -619px;
	    }
	    .menu-top,
	    .menu-bottom,
	    .menu-lang,
	    .menu-socials,
	    .page-header__inner:before{
	    	background: #fff;
	    }
	    .menu-links{
	    	opacity:0;
	    	pointer-events:none;
	    }
	    .menu-socials__link--fb{
	    	background: url(../img/svg/fb-black.svg) center no-repeat;
	    	&:hover{
	    		background: url(../img/svg/fb-h.svg) center no-repeat;
	    	}
	    }
	    .menu-socials__link--vk{
	    	background: url(../img/svg/vk-black.svg) center no-repeat;
	    	&:hover{
	    		background: url(../img/svg/vk-h.svg) center no-repeat;
	    	}
	    }
	    .menu-lang__link {
		    color: rgba(0,0,0,0.4);
		    &:hover{
				color: $alt-color;
		    }
		    &.active{
		    	color: #000;
		    	font-weight: 700;
		    }
		}
		.menu-bottom:before {
		    background: rgba(0, 0, 0, 0.2);
		    top: 60px;
		}
	}
}

.page-header__inner{
	// padding: 0 32px;
	display: flex;
	flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    &:before{
    	content: "";
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	background: #000;
    }
    &:after{
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 4;
	}
}

.logo{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: #fff url(../img/svg/logo.svg) center no-repeat;
	z-index: 10;
}



.menu-btn{
	padding: 14px 32px 41px 32px;
	color: #fff;
	font-weight: 500;
	transition:all 0.3s ease;
	margin-bottom: 31px;
	    display: flex;
    align-items: center;
    justify-content: center;
    background: #000; 
	&:hover{
		background: rgba(153,153,153,0.2);
		.burger-icon{
			background: #FF0000;
			&:before,
			&:after{
				background: #FF0000;
			}
		}
	}
	&.active{
		.burger-icon {
		    background-color: transparent;
		    top: 36px;
		    &:before{
				transform: translateY(6px) rotate(45deg);
				width: 48px;
				opacity: 1;
		    }
		    &:after{
				transform: translateY(-6px) rotate(-45deg);
				width: 48px;
		    }
		}
		.menu-title{
			opacity: 0;
		}
	}
}
.burger-icon {
    display: block;
    position: absolute;
    width: 48px;
    height: 2px;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: all 0.3s ease;
	&:before,
	&:after{
		display: block;
		width: 24px;
		height: 2px;
		background-color: #fff;
		transition:all 0.3s ease;
		position: absolute;
		content: "";
	}
	&:before{
		top: -6px;
		opacity: 0;
	}
	&:after{
		top: 6px;
	}
}


.menu-title{
	transition:all 0.3s ease;
}

.menu-search{
	display: flex;
	align-items:center;
	justify-content:center;
	margin-bottom: 37px;
}

.menu-search__link{
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/svg/search.svg) center no-repeat;
	transition:background 0.3s ease;
	&:hover{
		background: url(../img/svg/search-h.svg) center no-repeat;
	}
}

.menu-phone{
	display: flex;
	align-items:center;
	justify-content:center;
	margin-bottom: 45px;
}
.menu-phone__link{
	display: inline-block;
	width: 14px;
	height: 25px;
	background: url(../img/svg/phone.svg) center no-repeat;
	transition:background 0.3s ease;
	&:hover{
		background: url(../img/svg/phone-h.svg) center no-repeat;
	}
}


.blind{
	display: flex;
	align-items:center;
	justify-content:center;
	
}
.blind__link{
	display: inline-block;
	width: 33px;
	height: 12px;
	background: url(../img/svg/blind.svg) center no-repeat;
	transition:background 0.3s ease;
	&:hover{
		background: url(../img/svg/blind-h.svg) center no-repeat;
	}
}


.menu-top{
	padding-bottom: 39px;
	background: #000;
	position: relative;
	z-index: 5;
	width: 100%;
}

.menu-bottom{
	padding-top: 29px;
	background: #000;
	position: relative;
	z-index: 5;
	width: 100%;
	&:before{
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		top: 0;
		left: 50%;
	}
}

.menu-lang{
	padding:32px 0;
	background: #000; 
	margin-bottom: 16px;
	position: relative;
	z-index: 2;
}

.menu-lang__item{
	margin-bottom: 16px;
	text-align: center;
	&:last-child{
		margin-bottom: 0;
	}
}

.menu-lang__link{
	font-size: 16px;
	color: rgba(255,255,255,0.4);
	&.active{
		color: #fff;
		pointer-events:none;
		font-weight: 500;
	}
	&:hover{
		color: $alt-color;
	}
}

.menu-socials{
	    padding: 33px 0 30px;
	background: #000;
	position: relative;
	z-index: 2;
}

.menu-socials__item{
	margin-bottom: 25px;
	text-align: center;
	&:last-child{
		margin-bottom: 0;
	}
}

.menu-socials__link{
	display: inline-block;
}

.menu-socials__link--fb{
	width: 11px;
	height: 20px;
	background: url(../img/svg/fb.svg) center no-repeat;
	transition:background 0.3s ease;
	&:hover{
		background: url(../img/svg/fb-h.svg) center no-repeat;
	}
}
.menu-socials__link--vk{
	width: 25px;
	height: 14px;
	background: url(../img/svg/vk.svg) center no-repeat;
	transition:background 0.3s ease;
	&:hover{
		background: url(../img/svg/vk-h.svg) center no-repeat;
	}
}



.page-search{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 12;
	top: 0;
	left: 0;
	display: none;
}

.page-search__in{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 25%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.9;
	padding-top: 92px;
}

.page-search__form{
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 26px;
		height: 26px;
		background: url(../img/svg/top-search.svg) no-repeat;
		position: absolute;
		left: 9px;
    	margin-top: -4px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.page-search__input{
	width: 100%;
	background: transparent;
	border: 0; 
	border-bottom: 2px solid rgba(153,153,153,0.2);
	    padding: 20px 10px 20px 75px;
	    color: #fff;
}

.page-search__reset{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	background: url(../img/svg/reset.svg) center no-repeat; 
	display: inline-block;
	width: 34px;
	height: 35px;
	text-indent: -9999em;
	transition: background 0.3s ease;
	&:hover{
		background: url(../img/svg/reset-h.svg) center no-repeat; 
	}
}



.page-search__input::-webkit-input-placeholder {color:#fff;transition:all 0.3s ease;}
.page-search__input::-moz-placeholder          {color:#fff;transition:all 0.3s ease;}
.page-search__input:-moz-placeholder           {color:#fff;transition:all 0.3s ease;}
.page-search__input:-ms-input-placeholder      {color:#fff;transition:all 0.3s ease;}



.page-search__input:focus::-webkit-input-placeholder {color: transparent}
.page-search__input:focus::-moz-placeholder          {color: transparent}
.page-search__input:focus:-moz-placeholder           {color: transparent}
.page-search__input:focus:-ms-input-placeholder      {color: transparent}




.menu-list{
	position: absolute;
	top: 0;
	left: 116px;
	width: 620px;
	background: #fff;
	padding: 74px 148px;
	height: 100vh;
	transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
	    max-height: 100vh;
    overflow-y: auto;
}


.menu-list::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
 
.menu-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.menu-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5A5A5A;
}


.menu-link{
	font-size: 30px;
	color: #000;
	&:hover{
		color: $alt-color;
	}
}

.menu-item{
	margin-bottom: 26px;
	&:last-child{
		margin-bottom: 0;
	}
}

.menu-bg{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    display: none;
}

.submenu__link{
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	color: #000;
	&:hover{
		color: $alt-color;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

.submenu{
	padding: 13px 0 25px;
	display: none;
}

.menu-item--sub{
	position: relative;
}

.menu-link-sub{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/svg/plus.svg) center no-repeat;	
	background-size: contain;
	position: absolute;
	    left: -39px;
    top: 8px;
    &.active{
    	background: url(../img/svg/minus.svg) center no-repeat;	
		background-size: contain;
    }
}