
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}

@media all and (-ms-high-contrast:none){
	.list{
		height: calc(100vh - 140px);
	}
	.menu-bottom{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.menu-top{
		position: absolute;
		left: 0;
		top: 0;
	}
	.subscribe-wrap{
		display: block;
	}
	.subscribe input[type='submit']{
		margin-left: 0;
		margin-top: 10px;
	}
	.menu-list-lang{
		position: absolute;
		top: 15px;
		left: 15px;
	}
}

//MEDIA
@media screen and (max-width: 1750px){
	.page-footer{
		.container-fluid{
			padding-left: 85px;
		}
	}
}

@media screen and (max-width: 1600px){
	.page-footer{
		.container-fluid{
			padding-left: 170px;
		}
	}
}

@media screen and (max-width: 1500px){
	.page-footer{
		.container-fluid{
			padding-left: 197px;
		}
	}
}

@media screen and (max-width: 1400px){
	.application{
		font-size: 14px;
	}
	.application__icon {
	    width: 75px;
	}
	.application__txt {
	    width: 162px;
	    padding: 0 6px;
	}
	.page-content > .container-fluid,
	.page-title > .container-fluid,
	.breadcrumbs > .container-fluid,
	.events-top .container-fluid{
	    transform: translateX(0);
	}
	.page-search{
		.container-fluid{
	    	transform: translateX(0);
		}
	}
	.layout--index .page-content > .container-fluid {
	    margin-left: 0;
	    padding-right: 134px;
	    padding-left: 20px;
	}
}


@media screen and (max-width: 1280px){
	.container-fluid,
	.page-search .container-fluid{
	    max-width: 100%;
	    padding-left: 121px;
	    padding-right: 179px;
	}
	.page-footer .container-fluid{
		padding-left: 270px;
		padding-right: 150px;
	}
	.r-tabs-anchor {
	    font-size: 16px;
	    padding: 10px;
	}
	.workarea cite, .popup cite {
	    font-size: 20px;
	}
	.default-slider__img {
	    height: 340px;
	}
	.accordeon__link {
	    padding: 10px 32px;
	}
	.workarea cite:after, .popup cite:after{
		right: 0;
	}
	.offers{
		padding: 15px 30px;
	}
	.offers span {
	    padding-right: 35px;
	}
	.events-top__time {
	    margin-left: 65px;
	}
	.events-top__item:last-child {
	    padding-left: 35px;
	}
	.list__inner{
		padding: 20px 15px;
	}
	.list-slider__cat,
	.list-slider__add{
		font-size: 14px;
	}
	.list__link{
		font-size: 16px;
	}
	.list-slider .list__inner {
	    padding: 20px 15px;
	}
	.list__date span {
	    font-size: 20px;
	}
	.list__date {
	    bottom: 20px;
	    right: 15px;
	}
	.list-slider .slick-dots {
	    left: 15px;
	}
}

@media screen and (max-width: 1200px){
	.item__img {
	    height: 260px;
	}
	.events-top__num{
		font-size: 30px;
	}
	.events-top__time {
	    line-height: 1.14;
	    margin-left: 40px;
	    margin-top: -4px;
	}
	.events-top__time span{
		margin-bottom: 2px;

	}
	.list-slider__cat{
		width: 100%;
	}
	.list-slider__top{
		flex-wrap:wrap;
	}
	.list-slider__add{
		margin-top: 5px;
	}
}

@media screen and (max-width: 1100px){
	.default-slider__img {
	    height: 280px;
	}
	.events-top__num,
	.events-top__time span{
	    font-size: 20px;
	}
	.events-top__date span,
	.events-top__time{
		font-size: 16px;
	}
	.events-top__time {
	    line-height: 1.18;
	    margin-top: 0px;
	}
	.events-top__cost {
	    font-size: 16px;
	    padding-top: 0;
	}
	.events-top__btn .btn {
	    padding: 9px 20px;
	}
	.events-top__btn{
		padding-top: 0;
	}
	.events-top__item:first-child {
	    padding-right: 15px;
	}
	.events-top__item:last-child {
	    padding-left: 15px;
	}
	.events-top__info {
	    padding-top: 40px;
	}
}

@media screen and (max-width: 1023px){
		
	.page-title h1{

	}
	.workarea{

	}
	.application.active .application__txt {
	    transform: translateX(-100%);
	}
	.application.active:hover .application__txt {
	    transform: translateX(0);
	}
	.page-footer .container-fluid {
	    padding-left: 121px;
	}
	.row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.row > .col,
    .row > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
    .default-slider .slick-list,
    .other-slider .slick-list{
	    margin: 0 -10px;
	}
	.default-slider__item,
	.other-slider__item{
		padding: 0 10px;
	}
	.img-items,
	.profile-links,{
		margin-right: -10px;
	}
	.profile-link{
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.img-items .img-item{
		margin-right: 20px;
	}
	.layout--index .application__txt,
	.layout--index .application.active .application__txt{
		transform:none;
	}
	.list__mobile-bg{
		display: block;
	}
	.js-tilt-glare{
		display: none;
	}
	.list__link:hover .list__inner {
	    background: transparent;
	}
	.list__inner{
		transform:none!important;
	}
	.layout--index {
	    background: url(../img/content/index-bg.jpg)!important;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}

@media screen and (max-width: 992px){
	body{
		font-size: 14px;
	}
	.page-title h1{
		font-size: 40px;
	}
	.workarea{
		h1{
			font-size: 40px;
		}
		h2{
			font-size: 32px;
		}
		h3{
			font-size: 24px;
		}
		h4{
			font-size: 16px;
		}
		h5{
			font-size: 14px;
		}
		h6{
			font-size: 14px;
		}
	}
	.page-header {
	    width: 76px;
	}
	.menu-btn {
	    padding: 12px 5px 35px 5px;
	}
	.logo {
	    background-size: 61px;
	}
	.container-fluid,
	.page-footer .container-fluid,
	.page-search .container-fluid{
		padding-right: 120px;
	}
	.accordeon__link {
	    padding: 10px 36px 10px 20px;
	    font-size: 16px;
	}
	.accordeon__link:after{
		right: 7px;
	}
	.map-wrap {
	    position: static;
	    height: auto;
	    width: 100%;
	}
	#map {
	    position: static;
	    height: 400px;
	}
	.map-info {
	    width: 100%;
	    background: #fff;
	    height: auto;
	    padding: 20px;
	    position: static;
	}
	.profile-img{
		margin-bottom: 30px;
	}
	.services-aside{
		margin-bottom: 30px;
	}
	.offers{
		font-size: 16px;
	}
	.offers span br{
		display: none;
	}
	.services-aside__link.active {
	    font-size: 16px;
	    margin-bottom: 18px;
	}
	.paging__pages, .paging__arrows{
		font-size: 16px;
	}
	.paging__item.active {
	    font-size: 20px;
	    line-height: 17px;
	}
	.paging__prev, .paging__next{
		min-width: 110px;
		padding: 5px;
	}
	.events-aside{
		margin-bottom: 30px;
	}
	.events-top .page-title h1 {
	    font-size: 30px;
	}
	.events-top__info{
		flex-wrap:wrap;
	}
	.events-top__item{
		width: 100%;
		margin-bottom: 20px;
		    justify-content: flex-start;
	}
	.events-top__date span{
		text-align: left;
	}
	.events-top__item:last-child {
	    padding-left: 0;
	}
	.events-top__time{
		margin-left: 65px;
	}
	.events-top__btn {
	    margin-left: 26px;
	}
	.menu-btn.active .burger-icon {
	    top: 31px;
	}
	.menu-list {
	    width: 380px;
	    padding: 74px 60px;
	}
	.menu-link {
	    font-size: 20px;
	}
	.page-header.active .menu-list {
	    left: -380px;
	}
	.submenu__link {
	    margin-bottom: 10px;
	    font-size: 16px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.submenu {
	    padding: 10px 0 0;
	}
	.menu-link-sub{
		top: 0;
	}
	.page-form{
		padding: 20px;
	}
	.download-item{
		font-size: 16px;
	}
	.workarea cite,
	.popup cite,
	.news-date,
	.education__title,
	.workarea input[type="submit"],
	.popup input[type="submit"],
	.workarea input[type="submit"] + input[type="reset"],
	.popup input[type="submit"] + input[type="reset"],
	.btn-reset{
	    font-size: 16px;
	}
	.workarea td, .popup td {
	    padding: 15px;
	}
	.layout--index .page-content > .container-fluid {
	    padding-right: 94px;
	}
	.workarea ul li:before, .popup ul li:before {
	    top: 7px;
	}
	.workarea ol li:before, .popup ol li:before{
		top: -3px;
	}
	.workarea ol li:after, .popup ol li:after{
		top: 0;
	}
}

@media screen and (max-width: 950px){
	.popup--form {
	    width: 100%;
	    padding: 33px 20px;
	}
}

@media screen and (max-width: 900px){
	.list__link {
	    font-size: 14px;
	}
	.layout--index .page-footer{
		    padding-left: 255px;
    	padding-right: 95px;
    	.container-fluid{
    		padding: 0;
    	}
	}
	.page-footer--index .company {
	    width: 200px;
	    min-width: 200px;
	}
	.layout--index .copyright{
		margin-left: 0;
	}
	.list {
	    padding: 15px 0;
	    height: calc(100vh - 115px);
	}
	@media all and (-ms-high-contrast:none){
		.list {
		    height: calc(100vh - 165px)!important;
		}
	}
}


@media screen and (max-width: 768px){
	.r-tabs .r-tabs-accordion-title {
	    margin-bottom: 2px;
	}
}

@media screen and (max-width: 767px){
	.application__icon {
	    width: 65px;
	    height: 58px;
	}
	.application__txt{
		display: none;
	}
	.profile-item ul,
	.education__title{
	    font-size: 16px;
	}
	.services__top {
	    font-size: 20px;
	    padding-bottom: 13px;
    	margin-bottom: 19px;
	}
	ul.services__list{
		column-count:1;
		li{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.paging__pages{
		width: 100%;
		margin-bottom: 20px;
	}
	.paging__arrows{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.page-title h1{
		font-size: 30px;
	}
	.workarea{
		h1{
			font-size: 30px;
		}
		h2{
			font-size: 26px;
		}
		h3{
			font-size: 22px;
		}
		h4{
			font-size: 16px;
		}
		h5{
			font-size: 14px;
		}
		h6{
			font-size: 14px;
		}
	}
	.workarea input[type="text"],
	.workarea input[type="email"],
	.workarea input[type="password"],
	.popup input[type="text"],
	.popup input[type="email"],
	.popup input[type="password"],
	.jq-selectbox__select{
		font-size: 14px;
	}
	.workarea input[type="radio"]:not(:checked) + label,
	.workarea input[type="radio"]:checked + label,
	.popup input[type="radio"]:not(:checked) + label,
	.popup input[type="radio"]:checked + label{
		font-size: 14px;
	}
	.resp-tabs+.default-slider{
		margin-top: 90px;
	}
	.layout--index .page-footer {
	    padding-left: 115px;
	    .page-footer__wrap {
		    width: 100%;
		}
	}
	.list{
		height: auto;
	}
	.list__item {
	    width: 50%;
	    height: 300px;
	}
	.list__link {
	    font-size: 20px;
	}
	.list__inner{
		&:after{
			content: "";
			display: inline-block;
			width: 21px;
			height: 26px;
			background: url(../img/svg/next.svg) no-repeat;
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
	}
	.list-slider__item{
		.list__inner:after{
			display: none;
		}
	}
	.layout--index .application__icon {
	    width: 65px;
	}
}

@media screen and (max-width: 600px){
	.layout{
		padding-top: 90px;
	}
	.page-title h1,
	.breadcrumbs{
	    margin-bottom: 15px;
	}
	.workarea h1, .popup h1,
	.workarea h2, .popup h2,
	.workarea h3, .popup h3,
	.workarea h4, .popup h4{
		margin-bottom: 20px;
	}
	.page-header {
	    width: 100%;
	    height: 58px;
	    padding: 0 76px 0 0;
	    min-height: auto;
	}
	.logo {
	    bottom: auto;
	    left: auto;
	    right: 0;
	    top: 0;
	    width: 76px;
	    height: 58px;
	    background-size: 68px;
	}
	.menu-bottom,
	.page-header__inner:after{
		display: none;
	}
	.page-header__inner:before{
		display: none;
		opacity: 0;
		height: 0;
	}
	.page-header__inner {
	    flex-direction: row;
	}
	.menu-links{
		flex: 1;
    	display: flex;
    	justify-content: space-between;
	    padding: 0 20px;
	    align-items: center;
	}
	.menu-top{
		display: flex;
		padding-bottom: 0;
		height: 100%;
	}
	.menu-btn{
		padding: 15px 12px 29px 12px;
	    margin: 0;
	    position: relative;
	}
	.burger-icon{
		top: 36px;
	}
	.page-header.active .logo{
		display: none;
	}
	.menu-btn.active .burger-icon {
	    top: 28px;
	}
	.menu-search,
	.menu-phone{
		margin-bottom: 0;
	}
	.menu-list {
	    width: 100%;
	    padding: 80px 20px 115px 51px;
	    left: 0;
	    top: -100vh;
	    transition: none;
	        display: none;
	}

	.page-header.active .menu-list {
	    left: 0;
	    top: 0;
	    display: block;
	}
	.container-fluid, .page-footer .container-fluid,
	.page-search .container-fluid {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.workarea input[type="checkbox"]:not(:checked) + label,
	.workarea input[type="checkbox"]:checked + label,
	.popup input[type="checkbox"]:not(:checked) + label,
	.popup input[type="checkbox"]:checked + label {
	    line-height: 17px;
	    font-size: 14px;
	}
	.workarea input[type="submit"],
	.popup input[type="submit"]{
		width: 100%;
		margin-bottom: 20px;
	}
	.workarea input[type="submit"] + input[type="reset"],
	.popup input[type="submit"] + input[type="reset"],
	.popup input[type="submit"] + .btn-reset{
	    margin-left: 0;
	}
	.page-search__form {
	    width: calc(100vw - 20px);
	}
	.page-search__input {
	    padding: 20px 0;
	}
	.page-search__reset,
	.page-search__form:before{
		display: none;
	}
	.layout--event {
	    padding-top: 58px;
	}
	.event-title{
		font-size: 16px;
	}
	body{
		overflow-x: hidden; 
	}
	.subscribe-wrap{
		flex-wrap:wrap;
	}
	.subscribe input[type="submit"]{
		width: 100%;
		margin-top: 20px;
	}
	.copyright{
		margin-left: 0;
	}
	.page-footer {
	    padding: 25px 0 90px;
	}
	.page-content{
		padding-bottom: 30px;
	}
	.btn{
		font-size: 16px;
	}
	.list {
	    padding: 0;
	}
	.layout--index .page-footer {
	    padding: 30px 15px 80px;
	    .page-footer__in{
	    	flex-wrap:wrap;
	    }
	}
	.layout--index .page-content > .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-footer--index .company {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 10px;
	}
	.menu-item {
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.menu-list__bottom{
		display: flex;
	}
	.page-search__close{
		display: inline-block;
	}
	.offers{
		text-align: center;
	}
}


@media screen and (max-width: 500px){
	.list__item {
	    width: 100%;
	    height: 170px;
	    padding: 0 0px 8px 0;
	}
	.list__link {
	    font-size: 16px;
	}
	.list-slider__cat {
	    width: auto;
	}
	.list-slider__top{
		margin-bottom: 10px;
	}
	.list-slider__add {
	    margin-top: 0;
	}
	.list-slider .list__inner,
	.list__inner{
	    padding: 14px 15px;
	}
}