

/*FONT-FAMILY*/
$default-font: 'Montserrat', sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #F2F2F2;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alt-color: #FF0000;
